.App {
  text-align: center;
}

.Header {
  height: 100px;
  width: 100vw;
  background-color: #ab2a19;
  color: white;
  display: flex;
  align-items: center;
}

.icon {
  height: 50px;
  margin: 0px 25px 0px 75px
}